<link rel="stylesheet" type="text/css" href="$!{serverPath}/styles/common.list-1.0.0.css" />
<script type="text/javascript" src="$!{serverPath}/scripts/property/propDetail.js"></script>
<div>
	<div class="data_area">
	<table class="tb_list" id="tbList">
		 <tr class="tr_header">
			<td width="180px">英文名称</td>
			<td width="230px">中文名称</td>
			<td>数据类型</td>
			<td>长度</td>
			<td>默认值</td>
			<td>允许空</td>
			<td>主键</td>
			<td>备注</td>  
         </tr>
		 #foreach($item in $!list)
            <tr class="#if($!velocityCount % 2 == 0)tr_cell_alt#else tr_cell#end">
              <td>$!item.enName</td>
              <td>$!item.cnName</td>
              <td>
              	#foreach($dataType in $!dataTypeEnums)
              		 #if($!item.dataType == $!dataType.value) $!dataType.value #end
	             #end
              </td>
              <td>$!item.length</td>
              <td>$!item.defaultValue</td>
              <td>#if($!item.isNull) 是#else 否#end</td>
              <td>#if($!item.primaryKey) 是#else 否#end</td>
              <td><div class="div_overflow" tips="$!item.remark">$!item.remark</div></td>
			</tr>
		 #end	
    </table>
    </div>
    <div>
      总共：$!list.size() 条记录	
    </div>
</div>
