#set($layout = "/layout/blankLayout.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$!pageTitle</title>
<link rel="stylesheet" type="text/css" href="$!{serverPath}/styles/common-1.0.0.css" />
<link rel="stylesheet" type="text/css" href="$!{serverPath}/styles/frame-1.0.0.css" />
<script type="text/javascript" src="$!{serverPath}/scripts/common/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="$!{serverPath}/scripts/common/lhgdialog/lhgdialog.js?skin=idialog"></script>
<script type="text/javascript" src="$!{serverPath}/scripts/common/common-1.0.0.js"></script>
<script type="text/javascript" src="$!{serverPath}/scripts/common/common_data_util.js"></script>
<style>
</style>
</head>
<body>
<div style="width:100%;height:100%">
	 <iframe width="100%" height="100%" scrolling="no" frameborder="0" src="frame.htm"  name="frameIndex" id="frameIndex" />
</div>
</body>
</html>
