<link rel="stylesheet" type="text/css" href="$!{serverPath}/styles/common.edit-1.0.0.css" />
<link rel="stylesheet" type="text/css" href="$!{serverPath}/styles/jquery.ud.validator.css" />
<script type="text/javascript" src="$!{serverPath}/scripts/common/jquery.ud.validator.js"></script>
<script type="text/javascript" src="$!{serverPath}/scripts/common/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="$!{serverPath}/scripts/common/common_module-1.0.0.js"></script>
<script type="text/javascript" src="$!{serverPath}/scripts/template/template.js"></script>
<div id="div_edit" class="div_edit">
	<form id="editForm" >
    	<table class="tb_edit">
    		 <tr>
    			<td class="td_label">模版名称：</td>
    			<td class="td_text"><input type="text" name="name" id="name"/><span class="val_msg"></span></td>
             </tr>
    		 <tr>
    			<td class="td_label">模版类型：</td>
    			<td class="td_text">
				  <select name="type" id="type">
				  #foreach($item in $!typeList)
                    <option value="$!item.value">$!item.value</option>
				  #end	
                  </select>
				</td>
             </tr>
    		 <tr>
    			<td class="td_label">上传文件：</td>
    			<td class="td_text"><input type="file" name="tplFile" id="tplFile"/><span class="val_msg"></span></td>
             </tr>
        </table>
		<table width="100%" style="margin-top:20px">
		   <tr class="td_btn">
              <td ><input type="button" value="保存" class="btn btn_save" id="save" /></td>
			</tr>
		</table>
    </form>
</div>
