<link rel="stylesheet" type="text/css" href="$!{serverPath}/styles/common.edit-1.0.0.css" />
<link rel="stylesheet" type="text/css" href="$!{serverPath}/styles/jquery.ud.validator.css" />
<script type="text/javascript" src="$!{serverPath}/scripts/common/jquery.ud.validator.js"></script>
<script type="text/javascript" src="$!{serverPath}/scripts/common/common_module-1.0.0.js"></script>
<script type="text/javascript" src="$!{serverPath}/scripts/validRule/validRule.js"></script>
<div id="div_edit" class="div_edit">
	<form id="editForm">
    	<table class="tb_edit">
    		 <tr>
    			<td class="td_label">名称：</td>
    			<td class="td_text"><input type="text" name="name" id="name" />
					<span class="val_msg"></span>
				</td>
             </tr>
    		 <tr>
    			<td class="td_label">类型：</td>
    			<td class="td_text">					
					<select id="type" name="type">
					  #foreach($item in $!validRuleTypeList)
						<option value="$!item.value">$!item.value</option>
					  #end	
					</select>
				</td>
             </tr>
			  <tr>
    			<td class="td_label">JS正则：</td>
    			<td class="td_text"><input type="text" name="jsRegex" id="jsRegex" style="width:450px"/>
					<span class="val_msg"></span>
				</td>
             </tr>
			  <tr>
    			<td class="td_label">JAVA正则：</td>
    			<td class="td_text"><input type="text" name="javaRegex" id="javaRegex"  style="width:450px"/>
					<span class="val_msg"></span>
				</td>
             </tr>
        </table>
        <table width="100%" style="margin-top:20px">
		   <tr class="td_btn">
              <td ><input type="button" value="保存" class="btn btn_save" id="save" /></td>
			</tr>
		</table>
    </form>   
</div>
